set es_enableCustomData 1 
set mysql_connection_string "server=mysql-mariadb-22-104.zap-hosting.com;database=zap1004785-1;userid=zap1004785-1;password=iSBnrE3beg3BjhKz" 
endpoint_add_tcp "147.189.175.17:30748" 
endpoint_add_udp "147.189.175.17:30748" 
sv_maxclients 44
add_ace resource.DiscordAcePerms command.add_principal allow
add_ace resource.DiscordAcePerms command.remove_principal allow



# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start hardcap
start zombiemod
start zombiemod-map
setr lsm_random_spawn 1
setr lsm_anticheat 0
start pma-voice
add_ace group.admin command.muteply allow
start PvP
start RPDeath
setr game_enableFlyThroughWindscreen true
start EasyAdmin
start SlavLSM
start SlavLSM-Map
start Badger_Discord_API
start DiscordAcePerms
#Scripts
start trafficadjuster
start loadingscreen
start bob74_ipl
start [scripts]
start MenyooFiveM-master
start LecacyFuel
start basic-gamemode
start mysql-async
set mysql_log_level 12
start rconlog
start scoreboard
start reload
start parkour
start blood
start Knockout
start CarryPeople
start TakeHostage
start Ragdoll
start zseatbelt
start hit
start cuff
start holograms
start mythic_notify
start mythic_progbar
start XNLRideAnimals
start NeverWanted
start StanceModifier
start xperience
start biketricks
start CarRepairStation
start eas-fivem
start okokNotify
start khaoz-chairs
start RMTrunkSystem
start y_garage
start iplLoader
start NativeUI
start simple_watermark
start DissReason
start Sil-Parkour
start Sil-Vape
start SimpleHUD
start nbk_cstyle_killfeed
start nbk_cstyle_killfeed_stream
start scaleforms
start threads


#Peds/Models
start commie
start hunk
start jason
start hl2fastzom
start creature01
start leather
start myers
start pavel
start scp-096
start xenomorph
start avonclone
start demogorgon
start nathan
start Bloodsucker
start buck
start doomguy
start dutch
start ghostface
start hazmat
start mickey
start nazi
start nazi2
start NCRRanger
start onyx
start romeo
start sand
start honse
start twisty


#Weapons
start AssualtRifle
start CarbineRifle
start AssualtRifleMK2
start CarbineMK2
start AssualtShotgun
start Bat
start BullpupRifle
start CombatPistol
start DoubleBarrel
start GClub
start MarksmanRifle
start MicroSmg
start Pistol
start Pistol50
start M870
start SmgMK2
start SnsPistol
start AssualtRSmg
start SawnOffShotgun
start VintagePistol
start SMG
start Revolver
start PistolMK2
start Dagger
start Hammer
start Knife
start Switchblade
start Crowbar
start SpecialCarbine
start Hatchet
start 50CalSniper
start SniperRifle
start HeavyRevolver
start MetroAK
start APPistol


# Vehicles
start pakicars
start toyotasj


# Map Files
start criphouse
start backroom
start vagos_savehouse
start blackrose
start paletopd
start weedshop
start int_arcade
start ipl_arcade
start RebelStudios
start sahp_station
start church_interior
start int_hotdogs
start PolyZone
start ipls
start pablito_vagos
start palito-rest
start sphinx
start TortureRoom
start tempio
start DanskenPillbox
start moditMotel
start breze_innout
start ferraricardealer
start wolfmansion
start pdm_ext
start twostory
start viceroy
start cityhall
start mafia
start pugs_weazel_news
start moditMotel
start gn_catenburg
start gn_catenburg_lift
start nudistcultopen
start buildingdestroy
start thefallofthebridge
start fbiflr2
start taxi
start ballasautoshop
start ballascustoms
start beam
start beanmachine
start cityhallv2
start families
start fran
start iplLoader
start ipl_coke1
start ipl_meth1
start ipl_money
start ipl_weed1
start lscustomsoffice
start luxuryautoshop
start mafia
start mazebank
start paletocityhall
start paletohospital
start playboy
start sheriffpaleto
start treva
start unicorn
start vagosautoshop
start vespucci
start vineyard
start sandysheriff
start sandymedicalv2
start int_prisonfull
start prisonprops
start pillnew
start proppill
start i_ilev
start med_props
start v_corp
start apteka
start apteka2
start apteka3
start apteka4
start bmamas
start cinemavine
start digital1
start digital2
start fdept
start int_comedy
start int_italy
start int_store
start int_yellowjack
start ipl_nightclub
start nightclub
start magazls
start magazsh
start marubunta
start pbcafe
start pbmotel
start parkrls

#Chat Tools
start SenkaWolf-RPCCPack
start 
# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 1

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password reserved12345

# A comma-separated list of tags for your server.
# For example:
# Or:

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
# please DO replace root-AQ on the line ABOVE with a real language! :)


# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "☢️ ☣️ Los Santos - Apocalypse RP ☣️ ☢️"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon zap96x96.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.admin easyadmin allow

# Hide player endpoints in external log output.
sv_endpointprivacy true


exec easyadmin_permissions.cfg
setr voice_useSendingRangeOnly true
add_ace group.admin easyadmin allow
set ea_minIdentifierMatches 2
setr voice_useSendingRangeOnly true
setr voice_useSendingRangeOnly true
setr ea_LanguageName "en"
set ea_moderationNotification "https://discord.gg/NmURstqGvV"
set ea_enableCallAdminCommand "true"
set ea_enableReportCommand "true"
setr voice_useNativeAudio true
setr voice_enableUi 1
setr voice_enableRadios 1
setr voice_enableCalls 1
setr voice_enableSubmix 1
setr voice_enableRadioAnim 1
sets tags "rp, apocalypse, based,"
sets gametype "Roleplay"
#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
add_ace group.admin webadmin allow
add_principal identifier.steam:11000013c66d6c4 group.admin
set steam_webApiKey "38435410B4F548D49AFA87935514D29D"
set sv_UseDirectListing false
sets locale "en-GB"
set sv_listingIPOverride "147.189.175.17"
sets sv_projectName "☢️ ☣️ Los Santos - Apocalypse RP ☣️ ☢️"
sets sv_projectDesc "---COMING SOON---"
